<div class="container">
	<h1 class="heading"><span class="username"><%=current_user.username%>'s</span> <span class="tasks">TASKS</span></h1>
  <div class="task-render">
	<div class="row tasks">
		<% if current_user.tasks %>
			<% current_user.tasks.each do |task| %>
				<div id="task-window-<%= task.id %>" class="col-md-5 task-container text-center">
				   <div id="task-<%= task.id %>">
			 		<p><h2 class="<%= task.completions.last.completed=0 ? "done" : "not-done" %>"><%=task.name %></h2></p>
					<p class="due-date">Due <%=task.due_dates.last.date.strftime("%B %-d, %Y")%></p>
					<% if task.completions.any? %>
						<p class="completion-info">
						  <% if task.completions.last.completed == 0 %>
						   <%= task.units_left_till_complete %> <%= task.completion_unit %> to go.
						  <% else %>
						  You've completed this task
						  <% end %>
						</p>
						<!-- <a id="<%= task.id %>" class="btn-primary complete">U COMPLETE ME</a> -->
						<!-- slide scale input -->
						<a class="show-slide">…</a class="show-slide">
						<form class="slider" method="post" action="/updatecompletion/<%= task.id %>">
							<input data="<%=task.completions.last.completion_value%>"  class="slider" name="task[completion_value]" type="range" min="0" max="<%= task.completion_max%>" value="0" step="1"  />
							<input name="_method" type="hidden" value="put" />
							<input class="submit-slide" type="submit" value="submit">
							<span class="range"><%=task.completions.last.completion_value%></span>
						    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						</form>
					<!-- slide scale input above -->
					<% else %>
						<h1>This task has no completion Data.</h1>
					<% end %>
				  </div>
				</div>	
			<% end %>
		<% else %>
			<h1>Looks like you haven't created any tasks, create one <a href="/tasks/new">here</a></h1>
		<% end  %>
	   </div>
	</div>
</div>