<div class="container">
	<h1 class="text-center"><span class="username"><%=current_user.username%>'s</span> <span class="tasks">TASKS</span></h1>
  <div class="task-render">
	<div class="row tasks">
		<% if current_user.tasks %>
			<% current_user.tasks_incomplete_and_due_today .each do |task| %>
				<div id="task-window-<%= task.id %>" class="col-md-4 task-container text-center">
				   <div id="task-<%= task.id %>">
			 		<p><h2><%=task.name %></h2></p>
					<p>Due <%=task.due_dates.last.date.strftime("%B %-d, %Y")%></p>
					<% if task.completions.any? %>
						<p>
						  <% if task.completions.last.completed == 0 %>
						  Completed: No!
						  <% else %>
						  Completed: Yes! Congrats.
						  <% end %>
						</p>
						<p>Completion Value(how complete): <%=task.completions.last.completion_value%></p>
						<p>Completion Max(how much we need to complete): <%=task.completion_max%></p>
						<p>Completion Unit(how we measure): <%=task.completion_unit%></p>
						<a id="<%= task.id %>" class="btn-primary complete">U COMPLETE ME</a>
						<!-- slide scale input -->
						<form method="post" action="/updatecompletion/<%= task.id %>">
							<input data="<%=task.completions.last.completion_value%>"  class="slider" name="task[completion_value]" type="range" min="0" max="<%= task.completion_max%>" value="0" step="1"  />
							<span class="range"><%=task.completions.last.completion_value%></span>
							<input name="_method" type="hidden" value="put" />
							<input type="submit" value="submit">
						    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						</form>
						<!-- slide scale input above -->
					<% else %>
						<h1>This task has no completion Data.</h1>
					<% end %>
				  </div>
				</div>	
			<% end %>
		<% else %>
			<h1>Looks like you haven't created any tasks, create one <a href="/tasks/new">here</a></h1>
		<% end  %>
	   </div>
	</div>
</div>