<div class="text-center">
<h1>New Task</h1>

<%= form_for @task do |task_form| %>
  <%= task_form.label :name %>
  <%= task_form.text_field :name %>
  <% @task.due_dates.each do |due_date| %>
    <%= task_form.fields_for due_date, index: due_date.id do |due_date_form|%>
      <%= due_date_form.label :date %>
      <%= due_date_form.text_field :date %>
    <% end %>
  <% end %>
<% end %>
	<p>Already have an account?<p> <a href="/login">Log in here</a>
</div>

