<h1>complete index</h1>

<% tasks.each do |task| %>
  <p><%= task.name %></p>
  <p><%= task.description %></p>
<% end %>


	<div class="row tasks">
		<% if current_user.tasks %>
			<% current_user.tasks_due_this_week.each do |task| %>
				<div id="task-window-<%= task.id %>" class="col-md-4 task-container text-center">
				   <div id="task-<%= task.id %>">
			 		<p><h2><%=task.name %></h2></p>
					<p>Due Date: <%=task.due_dates.last.date%></p>
					<p>Description : <%=task.description%></p> 
					<p>Term : <%=task.term%></p> 
					<p>Completion Unit : <%=task.completion_unit%></p> 
					<% if task.completions.any? %>
						<p>
						  <% if task.completions.last.completed == 0 %>
						  Completed: No!
						  <% else %>
						  Completed: Yes! Congrats.
						  <% end %>
						</p>
						<p>Completion Value(how complete): <%=task.completions.last.completion_value%></p>
						<p>Completion Max(how much we need to complete): <%=task.completion_max%></p>
						<p>Completion Unit(how we measure): <%=task.completion_unit%></p>
						<a id="<%= task.id %>" class="btn-primary complete">U COMPLETE ME</a>
					<% else %>
						<h1>This task has no completion Data.</h1>
					<% end %>
				  </div>
				</div>	
			<% end %>
		<% else %>
			<h1>Looks like you haven't created any tasks, create one <a href="/tasks/new">here</a></h1>
		<% end  %>
	</div>