<!DOCTYPE html>
<html>
  <head>
    <title>Goalemon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout">logout</a></li>
          <li><a id="due-today">Due Today</a></a></li>
          <li><a id="due-this-week">Due This Week</a></li>
 <!--     <li><a id="completed-all">All completed tasks</a></li>
          <li><a id="show-progress">Today's Progress</a></li>
          <li><a id="show-week-progress">All Tasks Progress This Week</a></li>
          <li><a id="show-all-progress">Progress Overall</a></li>
          -->
          <li><a id="show-progress-each-day-of-month">Progress of each day</a></li> 
          <li><a id="show-detail-today">Detailed Chart of Today</a></li>
          <li><a href="/tasks/new">New Task</a></li>
          <li><form method="post" action="/save">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="submit" value="Save Today's Progress">
          </form></li>
        </ul>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
